
<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
    <% @articles.each do |article| %>
  <p class="title"><%= article.title %></p>
  <div class="body"><%= article.body %></div>

 <%= form_for([article, article.comments.build]) do |f| %>  
  <div class="comment"><%= f.text_field :name, placeholder: 'enter your name' %></div>
    <div class="comment"><%= f.text_area :body, placeholder: 'enter your comment' %></div>
  <div class="comment"><%= f.submit %></div>
<% end %>

  <% if article.comments.any? %>
      <% article.comments.each do |comment| %>
        <p><%= comment.name %></p>
        <p><%= comment.body %></p>
      <% end %>
  <% end %>
<% end %>

<div class="d-flex justify-content-center">
  <%= paginate @articles %>
</div>
    </div>
    <div class="col-sm">
      ⭐︎Recent articles⭐︎
      <% @recent_articles.each do |article| %>
        <div class="title">
          <%= link_to article.title, article_path(article) %>
        </div>
      <% end %>
    </div>
  </div>
</div>



