<div class="d-flex justify-content-end mx-5">
        <%= link_to "login", new_user_session_path, class:'btn btn-outline-danger' %>   
      </div>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <% @articles.each do |article| %>
        <p class="fs-2 text-center my-5"><%= article.title %></p>
        <div class="body"><%= article.body %></div>        
      <% end %>

      <div class="d-flex justify-content-center my-5">
        <%= paginate @articles %>
      </div>
    </div>
    <div class="col-sm">
    ⭐︎Recent articles⭐︎
      <% @recent_articles.each do |article| %>
        <div class="title">
          <%= link_to article.title, article_path(article) %>
        </div>
      <% end %>
    </div>
  </div>
</div>



