<h2>Add new articles</h2>
<div class="d-flex justify-content-end mx-5">
<%= button_to "logout", destroy_user_session_path, method: :delete, class:'btn btn-outline-danger' %>
</div>
<%= form_for :article, url: articles_path do |f| %>
  <p><%= f.text_field :title, placeholder: 'enter title' %></p>
  <p><%= f.text_area :body, placeholder: 'enter body text' %></p>
  <p><%= f.submit %></p>
<% end %>


<h2>Edit</h2>
<% @articles.each do |article| %>
  <%= link_to '[Edit]', article_path(article) %>
  <%= link_to '[delete]', 
  article_path(article),
  method: :delete, 
  data: {confirm: 'Sure?'} %>
  <p><%= article.title %></p>
  <p><%= article.body %></p>
<% end %>