<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <p class="fs-2 text-center"><%= @article.title %></p>
      <% if @article.image.attached? %>
        <%= image_tag @article.image, width:"400px", height:"250px" %>
      <% end %>
      <div class="body"><%= @article.body %></div>

      <p class="text-center">Comment</p>
      <% if @article.comments.any? %>
        <% @article.comments.each do |comment| %>
          <p class="text-center"><%= "Name: #{comment.name}" %></p>
          <p class="text-center"><%= "Comment: #{comment.body}" %></p>
        <% end %>
      <% end %>

      <%= form_for([@article, @article.comments.build]) do |f| %>  
        <div class="comment"><%= f.text_field :name, placeholder: 'enter your name' %></div>
          <div class="comment"><%= f.text_area :body, placeholder: 'enter your comment' %></div>
        <div class="comment"><%= f.submit %></div>
      <% end %>      

      <%= link_to articles_path do %>
          <div class="text-center my-2"> back to home</div>
        <% end %>
    </div>
    <div class="col-sm">
      Recent articles
    <% @recent_articles.each do |article| %>
        <div class="title">
          <%= link_to article.title, article_path(article) %>
        </div>
      <% end %>
    </div>
  </div> 
</div>